<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://github.com/reisxd/TizenTube" version="1.0.0" viewmodes="maximized">
   <access origin="*" subdomains="true" />
   <tizen:application id="I80YHgsJe2.Launcher" package="I80YHgsJe2" required_version="2.3" />
   <author href="https://tizentube.live">Reis Can</author>
   <content src="index.html" />
   <feature name="http://tizen.org/feature/screen.size.normal.1080.1920" />
   <tizen:privilege name="http://tizen.org/privilege/internet" />
   <tizen:privilege name="http://developer.samsung.com/privilege/network.public" />
   <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice" />
   <feature name="http://tizen.org/feature/web.service" />
   <icon src="icon.png" />
   <tizen:metadata key="http://samsung.com/tv/metadata/prelaunch.support" value="true" />
   <tizen:metadata key="http://tizen.org/metadata/app_ui_type/base_screen_resolution" value="extensive" />
   <name>Launcher</name>
   <tizen:privilege name="http://tizen.org/privilege/application.launch" />
   <tizen:profile name="tv-samsung" />
   <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="enable" encryption="disable" install-location="auto" hwkey-event="enable" />
   <tizen:service id="I80YHgsJe2.LauncherService">
      <tizen:content src="service/index.js" />
      <tizen:name>TizenTubeService</tizen:name>
      <tizen:description>TizenTubeService</tizen:description>
   </tizen:service>
</widget>