:root {
    color-scheme: dark;
}

#text {
    font-size: 40px;
    color: white;
}

#text2 {
    font-size: 30px;
    color: white;
}

.label {
    font-size: 25px;
    color: white;
}

.input {
    font-size: 25px;
}